html {
    color:black;
    background-image: url("./img/pink-monstera-artificial-homemade-leaves-top-view.jpg");
    background-size: cover; 
    background-attachment: fixed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#intro {
    padding-top: 2rem;
    padding-left: 6rem;
    margin: 0;
}
#intro {
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
}
header {
    color: rgb(95, 94, 95);
    font-size: 1.5rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: sticky;
    top:0;
    height: 6.5rem;
    width: 100%;
    background-color: rgba(194, 155, 123, 0.9);
    opacity: 1rem;
    box-shadow:rgb(122, 116, 112) 0.5rem 0.5rem 1rem ;
    transition: 0.5s;
}
header:hover {
    box-shadow:rgb(243, 99, 171) 0.5rem 0.5rem 1rem ;
    transition: 0.5s;
}

footer {
    position: relative;
    font-size: 1.5rem;
    height: 15rem;
    background-color: rgba(63, 46, 32, 0.4);
    color: rgb(232, 222, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    margin: 0;

}
.btn img {
    margin-top: 4rem;
    width: 5rem;
    height: 5rem;
    cursor:pointer;
    background-color: transparent;
}
.btn{
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    border: transparent;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
}
#btns {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
}
p {
    font-size: 1.5rem;
}
.btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(194, 155, 123, 0.2);
}
/* hidden contents */
ul {
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 2rem;
}
a img {
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor:pointer;
    transition: 0.2s;
   
}
.text {
    color: rgb(151, 80, 114);
    padding: 2rem;
    border-radius: 1.5rem;
    transition: 0.5s;

}

.profile-img {
    position: absolute;
    top: 0rem;
    width: 12rem;
    height: 12rem;
    border-radius: 10rem;
    border: solid rgb(252, 252, 252) 0.5rem;
    box-shadow:rgb(54, 53, 54) 0.5rem 0.5rem 1rem ;
    transition: 0.5s;
}
.profile-img:hover {
    box-shadow:rgb(243, 99, 171) 0.5rem 0.5rem 1rem ;
    transition: 0.5s;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#intro {
    flex-wrap: nowrap;
}
a {
    text-decoration: none;
    list-style: none;
    color: white;
    transition: 0.4s;
}
a:hover {
    color: rgb(241, 170, 206);
    transition: 0.4s;
}
hr {
    border-radius: 3rem;
    border: 0;
    box-shadow:rgb(170, 39, 105) 0.2rem 0.2rem 0.5rem ;
    height: 4px;
    background-color: rgb(151, 80, 114);
    align-self: center;
    color: black;
    width: 100%;
}
#boxes {
    height: 35rem;
    gap: 2rem;
    margin-bottom: 4rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(194, 155, 123, 0.2);
    width: 100%;
    justify-content: center;
    margin-left: 0;
}
.image {
    border-radius: 1rem;
    border: solid 0.2rem rgb(151, 80, 114);
    width: 15rem;
    height: 10rem;
    transition: 0.8s;
}
.image:hover {
    position: relative;
    transition: 0.8s;
    width: 45rem;
    height: 30rem;
}