html {
    background-image: url("./img/white.jpg");
    background-size: cover; 
    background-attachment: fixed;
    height: 100vh;
    font-family: monospace;
}
body {
    margin: 0;
}
header {
    padding-top: 2rem;
    padding-left: 8rem;
    font-size: 2rem;
    height: 20rem;
    width: 100%;
    color:rgb(232, 222, 210);
    transition: 0.5s;
    background-color: rgba(23, 16, 16, 0.4);
}
header:hover {
    background-color: rgba(23, 16, 16, 0.6);
    transition: 0.5s;
}
footer {
    position: absolute;
    font-size: 1rem;
    height: 4rem;
    background-color: rgba(23, 16, 16, 0.4);
    color: rgb(232, 222, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
}
#btn1 img, #btn2 img, #btn3 img,
#btn4 img, #btn5 img, #btn6 img {
    width: 6rem;
    height: 6rem;
}
#btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
    background-color: transparent;
    border: transparent;
}
#btns {
    margin: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}